.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    display: 'flex';
    background-color: #fff;
    -webkit-backface-visibility: visible;
    border-radius: 30px;
    cursor: pointer;
}
.image-slider {
    top: 10px;
    background-color: #0053db;
    color: black;
}