<form class="login">

    <h1 style="font-size: 25px" class="login">Log in</h1>

    <div class="login">
        <div>
            <input type="text" id="lbUserName" name="lbUserName" placeholder="Email or Username">
        </div>

        <br/>

        <div>
            <input type="text" id="lblPassword" name="lblPassword" placeholder="Password">
        </div>
        <br />
        <div>
            <input type="button" id="lblContinue" name="lblContinue" value="Continue">
        </div>

    </div>


</form>