.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .box .style-layer-wrapper {
    border: 0px none;
    height: 48px;
    width: 512px;
  }
  
  .box .style-layer {
    align-items: center;
    background-color: #316bff;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    width: 512px;
  }
  
  .box .button {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  