<form action="" method="post" class="form-example">
    <div class="login">
        <div>
            <label for="name">Username: </label>
        </div>
      
        <input type="text" name="name" id="name" value="Enter your username" required>
    </div>

    <div class = "login">
        <div>
            <label for="remember me">Remember Me</label>
        </div>
        <input type="checkbox" id="remember me" name="remember me" value="">
    </div>
    <div class="login">
        <div>
            <label for="password">Password: </label>
        </div>
        <input type="text" name="password" id="password" value="Enter your password" required>
    </div>
    
    <div class = "login">
        <div>
            <label for="show password">Show password</label>
        </div>
        <input type="checkbox" id="show password" name="show password" value="">
    </div>
        
        
   
    
    <div class="login">
      <input type="submit" value="Login">
    </div>
  </form>



  
  
