

form{
   
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form.login {
    display: table;
    margin: 0 auto;
    width: 500px;
}

div.login{
    display: table-row;
    margin: 0 auto;
    width: 500px;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
