<form action="" method="get" class="form-example">
    <div class="login">
        <div>
            <label for="name">Username: </label>
        </div>
      
        <input type="text" name="name" id="name" value="Enter your username" required>
    </div>
    <div class="login">
        <div>
            <label for="password">Password: </label>
        </div>
        <input type="text" name="password" id="password" value="Enter your password" required>
    </div>
    <div class="login">
      <input type="submit" value="Login">
    </div>
  </form>
  
