body {

    background-color: aquamarine;


}


form{

    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}


input{

    width : 80%;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}


input:focus, textarea:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
  }
  

