<div class="header-text">
    <h1> Sign in to Travit</h1>
</div>
<form>
    <div class="login">
        <div>
            <input class="login-email" type="text" id="lbUserName" name="lbUserName" minlength="8" required placeholder="Email">
        </div>

        <br/>

        <div>
            <input class="login-password" type="password" id="lblPassword" name="lblPassword" placeholder="Password">
        </div>
        <br />
        <div>
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                <input class="sign-out-btn" type="button" id="signout"  name="signout" value="Sign Out" (click)="auth.logout({ returnTo: document.location.origin })">
            </ng-container>
        </div>
        <div>
            <ng-template #loggedOut>
                <input class="sign-in-btn" type="button" id="signin"  name="login" value="Sign In" (click)="auth.loginWithRedirect()">
              </ng-template>
        </div>      
    </div>
</form>