.wrapper {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    gap: 20px;
    padding: 50px;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 20px; */
    /* grid-auto-rows: minmax(60px, auto); */
    /* padding: 20px 20px; */
}

.grid.bg1 {
    flex-basis: 30%;
    height: 385.71px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat !important;
    box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-delay: 0.2s;
    background: url(/static/media/img2.svg) no-repeat #00FFFF;
    text-align: center;
}
  
.grid.bg2 {
    flex-basis: 30%;
    height: 385.71px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat !important;
    box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-delay: 0.2s;
    background: url(/static/media/img2.svg) no-repeat #4169E1;
    text-align: center;
  }
  
  .grid.bg3 {
    flex-basis: 30%;
    height: 385.71px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat !important;
    box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
    animation-duration: 1s;
    animation-delay: 0.5s;
    background: url(/static/media/img4.svg) no-repeat #00FFFF;
    text-align: center;
  }
  
.grid.bg4 {
    flex-basis: 30%;
    height: 385.71px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat !important;
    box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
    animation-duration: 1s;
    animation-delay: 0.5s;
    background: url(/static/media/img5.svg) no-repeat #FF00FF;
    text-align: center;
  }