.image-slider {
    top: 10px;
    bottom: 10px;
    background-color: #0d6efd;
    color: black;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin: auto;   
}

.owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    display: flex;
    background-color: #fff;
    -webkit-backface-visibility: visible;
    border-radius: 10px;
    cursor: pointer;
}


