.image-slider {
    background-color: #0d6efd;
    width: auto;
    position: center;
    padding: 10px 10px;
}

.owl-dots {
    display: flex;
    justify-content: center;
    top: 20px;
    margin: 10px 10px; 
    bottom: 20px;  
}

.owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    display: -ms-grid;
    background-color: #fff;
    -webkit-backface-visibility: visible;
    border-radius: 10px;
    cursor: pointer;
    bottom: 20px;
    transition-delay: 2s;
}

h3 {
    justify-content: center;
}



