.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: inline-block;
    align-items: center;
    background-color:  #0d6efd;
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toolbar.home
.toolbar.contact
.toolbar.signup
.toolbar.signin {
  background-color: inherit;
  display: flex;
  margin-left: 260px;
  text-align: center;
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.nav {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: right;
}

.nav-link {
  margin-left: 1rem;
  font-size: 1.5rem;
  height: 40px;
  display: flex;
  justify-content: flex-right;
  align-items: center;
  position: absolute;
  right: 15px;
}

.sidebar-wrap {
  width: 100%;
}

.wrapper {
  display: flex;
  grid-gap: 30px;
  grid-auto-rows: minmax(60px, auto);
  width: auto;
  position: relative;
}

.grid.bg1 {
  flex-basis: auto;
  height: auto;
  width: 200px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat !important;
  box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
  border-radius: 5px;
  animation-duration: 1s;
  animation-delay: 0.2s;
  background: url(/static/media/img2.svg) no-repeat #00FFFF;
  text-align: center;
}

.grid.bg2 {
  flex-basis: auto;
  height: auto;
  width: 200px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat !important;
  box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
  border-radius: 5px;
  animation-duration: 1s;
  animation-delay: 0.2s;
  background: url(/static/media/img2.svg) no-repeat #4169E1;
  text-align: center;
}

.grid.bg3 {
  flex-basis: auto;
  height: auto;
  width: 200px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat !important;
  box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
  animation-duration: 1s;
  animation-delay: 0.5s;
  background: url(/static/media/img4.svg) no-repeat #00FFFF;
  text-align: center;
}

.grid.bg4 {
  flex-basis: auto;
  height: auto;
  width: 200px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat !important;
  box-shadow: rgb(85 85 85 / 40%) 0px 8px 50px;
  animation-duration: 1s;
  animation-delay: 0.2s;
  background: url(/static/media/img5.svg) no-repeat #FF00FF;
  text-align: center;
}

@media (orientation: landscape) {
  .wrapper {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }
}
