name: Test Django Apps
on:
  pull_request:
    branches:
      - main
jobs:
  test_django_apps:
    name: Test Django Apps
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: "Install Pip"
        run: sudo apt-get install python3-pip

      - name: Install virtualenv
        run: pip3 install virtualenv

      - name: Create and activate python3 virtualenv
        run: |
          virtualenv -p python3 venv
          source venv/bin/activate
      - name: Install required packages
        run: |
          cd travit_service || echo 'app directory does not exist'
          pip3 install -r requirements.txt || echo 'requirements file does not exist'
      - name: Set environment variables
        run: |
          echo "TRAVIT_CONFIG_PATH=./config.yaml" >> $GITHUB_ENV

      - name: Run tests
        run: |
          cd travit_service && python manage.py makemigrations && python manage.py migrate && python manage.py test -v 2
      - name: Cleanup
        run: |
          echo 'Tests successfully completed'
          echo 'Deactivating virtualenv...'
