name: Test Django Apps
on:
  pull_request:
    branches:
      - main
jobs:
  test_django_apps:
    name: Test Django Apps
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: "Setup Python Virtual Environment"
        run: |
            set -ex

            sudo apt-get update && sudo apt-get install python3-venv python3-pip
            python3 -m venv venv
            source venv/bin/activate
            python3 -m pip install -U pip
            python3 -m pip --version

      - name: Install required packages
        run: |
          set -ex

          cd service || echo 'App directory does not exist'
          python3 -m pip install -r requirements.txt || echo 'Failed to install required packages'

      - name: Set environment variables
        run: |
          set -ex

          echo "TRAVIT_CONFIG_PATH=./config.yaml" >> $GITHUB_ENV

      - name: Run tests
        run: |
          set -ex

          cd service
          python manage.py makemigrations && python manage.py migrate && python manage.py test apps/* -v 2

      - name: Cleanup
        run: |
          set -ex

          echo 'Tests successfully completed'
          echo 'Deactivating and deleting virtual environment...'
          deactivate
          rm -rf venv
