name: Test Django Apps
on:
  pull_request:
    branches:
      - main
jobs:
  test_django_apps:
    name: Test Django Apps
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: "Setup Python Virtual Environment"
        run: |
            set -e 

            sudo apt-get update && apt-get install python3-venv python3-pip
            python3 -m venv venv
            source venv/bin/activate
            python3 -m pip install -U pip
            python3 -m pip --version
            
      - name: Install required packages
        run: |
          set -e
          cd travit_service || echo 'app directory does not exist' && exit 1
          pip install -r requirements.txt || echo 'requirements file does not exist' && exit 1
      
      - name: Set environment variables
        run: |
          echo "TRAVIT_CONFIG_PATH=./config.yaml" >> $GITHUB_ENV

      - name: Run tests
        run: |
          cd travit_service && python manage.py makemigrations && python manage.py migrate && python manage.py test -v 2
      
      - name: Cleanup
        run: |
          echo 'Tests successfully completed'
          echo 'Deactivating virtualenv...'
